@import url("https://fonts.googleapis.com/css2?family=New+Rocker&family=Tektur:wght@400..900&display=swap");
html.lenis,
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

:root {
  --yellow-primary: #ffc107; /* Primary Yellow */
  --yellow-dark: #f57f17; /* Dark Yellow */
  --red-primary: #f44336; /* Primary Bright Red */
  --red-dark: #d32f2f; /* Dark Red */
  --red-background: #1e0707;
  --light: white;
  --dark: #141414;
  --overlay: rgb(26, 19, 19);
}

* {
  margin: 0;
  padding: 0;
  color-scheme: dark;
  text-transform: capitalize;
  scrollbar-width: none; /* Thin scrollbar */
  scrollbar-color: rgba(0, 0, 0, 0.7) transparent;
}

button {
  transition: 0.6s;
}

body {
  width: 100svw;
  height: auto;
  background-color: var(--red-background);
  color: var(--light);
  overflow-x: hidden;
}

.mouse .circle {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 11; /* so that it stays on top of all other elements */
  background-color: var(--yellow-dark);
}
.mouse .circle:first-child {
  z-index: 12;
  background-color: var(--red-dark);
}

nav {
  z-index: 2;
  transition: 1s;
  width: 92svw;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.055);
  color: var(--dark);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4svw;
  outline: rgba(255, 255, 255, 0.459) solid 1px;
}
nav .options {
  display: flex;
  gap: min(4svw, 40px);
}
nav .options .option {
  font-size: 1rem;
  font-family: monospace;
  text-decoration: none;
  color: var(--light);
}
nav .con {
  width: 120px;
  display: none;
  justify-content: center;
  align-items: center;
}
nav .con button.hamburger {
  border: 1px solid var(--red-dark);
  border-radius: 10px;
  padding: 5px;
  background-color: var(--dark);
  place-items: center;
}
nav .con button.hamburger:hover {
  background-color: var(--red-dark);
}
nav img {
  width: 120px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
nav button.download {
  border: 1px solid var(--red-dark);
  border-radius: 20px;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: var(--dark);
}
nav button.download:hover {
  background-color: var(--red-dark);
}

.sidebar {
  display: none;
  z-index: 2;
  transition: 1s;
  height: 92vh;
  width: 75svw;
  background-color: rgba(255, 255, 255, 0.055);
  color: var(--dark);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 4vh 4svw;
  outline: white solid 1px;
}
.sidebar .options {
  display: flex;
  flex-direction: column;
  gap: min(4vh, 40px);
}
.sidebar .options .option {
  font-size: 1rem;
  font-family: monospace;
  text-decoration: none;
  color: var(--light);
}
.sidebar .con {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.sidebar img {
  width: 120px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
.sidebar button.download {
  border: 1px solid var(--red-dark);
  border-radius: 20px;
  padding: 10px;
}
.sidebar button.download:hover {
  background-color: var(--red-dark);
}

.loader {
  text-transform: none !important;
  width: 100svw;
  height: 100vh;
  display: flex;
  position: fixed;
  -webkit-clip-path: circle(100% at 50% 50%);
  clip-path: circle(100% at 50% 50%);
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #141414;
}
.loader h1 {
  text-transform: none !important;
  font-family: Tektur;
  font-size: 15svw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  color: transparent !important;
  text-shadow: none !important;
  transition: font-size 1s;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.loader h1 .char {
  font-family: Tektur;
  text-transform: none !important;
  transform: translateY(20svw);
  transition: transform 1s;
}
.loader #flame {
  text-transform: none !important;
  font-family: monospace;
}
.loader .space {
  width: clamp(60px, 20svw, 250px);
  font-family: Tektur;
  font-size: 15svw;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  color: transparent !important;
  text-shadow: none !important;
  transition: font-size 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100vh;
}
main .text-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .text-con h1 {
  font-family: Tektur;
  font-size: 15svw;
  color: var(--red-primary);
  text-shadow: #f57f17 4px 1px 1px;
  transition: font-size 1s;
}
main .text-con .glow-container {
  display: inline-block;
  position: relative;
}
main .text-con .element {
  background-color: var(--red-primary);
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}
main .text-con .glow-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  background-color: var(--red-primary);
  border-radius: 40%;
  filter: blur(20px) opacity(0);
  transition: filter 0.9s ease;
  z-index: -1;
}
main .text-con .glow-container:hover::after {
  filter: blur(20px) opacity(0.7);
}
main .text-con .logo {
  width: clamp(60px, 20svw, 250px);
}
main .fire-con {
  width: 100svw;
  height: 200px;
  position: absolute;
  bottom: 1px;
  z-index: -2;
  background-image: url("/fire.gif");
  background-repeat: repeat-x;
  background-size: auto 200px;
}
main .fire-con .fire {
  -o-object-fit: contain;
     object-fit: contain;
}

.overlay {
  width: 100svw;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: var(--overlay);
  border-top: white solid 1px;
}
.overlay .about {
  padding: 50vh 0px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 70svw;
  height: auto;
  gap: 160px;
  color: var(--light);
  background-color: var(--overlay);
  font-family: Tektur;
}
.overlay .about p {
  font-size: 20px;
  max-width: 600px;
}
.overlay .about h2 {
  font-size: min(8vw, 2.5rem);
}
.overlay .about .detail h1 {
  margin-bottom: 40px;
  font-size: min(10vw, 3rem);
}
.overlay .about .members h2 {
  margin-bottom: 40px;
}
.overlay .about .members ol {
  margin-left: 20px;
  font-size: clamp(15px, 1.5vw, 20px);
}
.overlay .about .members ol li {
  white-space: pre;
  margin-bottom: 10px;
}
.overlay .about .social h2 {
  font-size: min(8vw, 2.5rem);
}
.overlay .about .social .button-con {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(300px, 70svw, 400px);
}
.overlay .about .social .button-con a {
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 25px;
  place-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #141414;
  transition: 0.4s;
  color: white;
  text-decoration: none;
}
.overlay .about .social .button-con #yt {
  border: 1px solid var(--red-dark);
}
.overlay .about .social .button-con #yt:hover {
  background-color: var(--red-dark);
}
.overlay .about .social .button-con #ds {
  border: 1px solid #5865f2;
}
.overlay .about .social .button-con #ds:hover {
  background-color: #5865f2;
}
.overlay .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.overlay .wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 149px;
}
.overlay .wave .shape-fill {
  fill: #1e0707;
}

.game {
  margin-top: 5vw;
  width: 100svw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: New Rocker;
}
.game > h1 {
  font-size: 60px;
  font-family: New Rocker;
}
.game .game-con {
  width: 70svw;
  height: auto;
  gap: 160px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.game button {
  font-family: Tektur;
  border-radius: 10px;
  font-size: 15px;
  padding: 7px 10px;
  place-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #141414;
  transition: 0.4s;
  color: white;
  border: 1px solid var(--red-dark);
}
.game button:hover {
  background-color: var(--red-dark);
}
.game #win {
  border: 1px solid rgb(0, 102, 255);
}
.game #win:hover {
  background-color: rgb(0, 102, 255);
}
.game #and {
  border: 1px solid #a4c639;
}
.game #and:hover {
  background-color: #a4c639;
}
.game .data {
  margin-top: 160px;
  width: min(70svw, 500px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.game .download-con {
  width: 70svw;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.game .download-con .button-con {
  margin-top: 40px;
  min-width: 500px;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(300px, 70svw, 900px);
}
.game .download-con .button-con svg {
  width: 30px;
  height: 30px;
  fill: white;
  margin-right: 10px;
}
.game .download-con .img-rupali {
  position: absolute;
  max-height: clamp(100px, 75vw, 400px);
  width: clamp(100px, 50vw, 400px);
  right: calc(clamp(100px, 50vw, 400px) / -2 - 20px);
  transform: rotate(-40deg);
  z-index: -1;
  transition: 0.3s;
}

footer {
  margin-top: 45vh;
  width: calc(100svw - 6px);
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  background-color: var(--overlay);
  color: var(--light);
  outline: rgba(255, 255, 255, 0.418) solid 2px;
  margin-left: 2px;
}
footer .last {
  font-family: Tektur;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: -10px;
  line-height: 25px;
  font-size: 20px;
  color: var(--light);
}

@media (max-width: 620px) {
  nav .options {
    display: none !important;
  }
  nav .con {
    display: flex !important;
  }
  .download-con .button-con {
    flex-direction: column !important;
    align-items: start !important;
    justify-content: center !important;
    gap: 20px !important;
  }
}
@media (max-width: 380px) {
  nav .options {
    display: none !important;
  }
  nav .logo,
  nav .con {
    display: flex !important;
    width: 50px !important;
  }
  nav .download {
    display: none !important;
  }
  .button-con {
    flex-direction: column !important;
    align-items: start !important;
    justify-content: center !important;
    gap: 20px !important;
  }
}
::-webkit-scrollbar {
  width: 6px; /* Ultra-thin scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7); /* Subtle, semi-transparent thumb */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.9); /* Slightly more visible on hover */
}/*# sourceMappingURL=style.css.map */